.page {
    padding: 3em;
    margin: -1em;
    height: 20%;
    background-color: #004D40;
    box-shadow: 2px 2px 10px;
}

div h1 {
    font-family: "Lobster", cursive;
    color: white;
    text-align: center;
    padding: both;
    margin: auto;
}

body {
    background-color: #EOF3F1;
}

.as {
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: "Raleway", cursive;
}

.an {
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: "Cutive Mono", monospace;
    color: #757575;
    border-bottom: 2px solid #BDBDBD;
}

.card {
    background-color: #009688;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 2em;
    width: 80%;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 10px;
}

.song {
    list-style-type: none;
    display: inline-block;
    font-family: "Raleway", cursive;
    font-size: 26px;
    color: white;
}

.download {
    width: 105px;
    height: 25px;
    list-style-type: none;
    background-color: white;
    font-family: "Cutive Mono", monospace;
    text-align: center;
    color: #00BCD4;
    box-shadow: 2px 2px 10px black;
    border-radius: 4px;
}