.page {
    padding: 3em;
    margin: -2em;
    height: 20%;
    background-color: #512DA8;
    box-shadow: 2px 2px 10px;
}

div h1 {
    font-family: "Lobster", cursive;
    color: white;
    text-align: center;
    padding: both;
    margin: auto;
}

body {
    background-color: #EDE7F6;
}

.an {
    padding-top: 1em;
    font-family: "Raleway", cursive;
}

.card {
    padding: 4dp;
    width: .80em;
    border: none;
    border-radius: 2dp;
}

.song {
    font-family: "Raleway", cursive;
}